@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

*{
    font-family: 'Poppins';
}

header{
    background: rgb(255, 82, 108);
}

body{
    min-height: 100vh;
}

#btn{
    background: rgb(255, 82, 108);
}
